* {
    margin: 0;
    padding: 0;
    color: rgb(132, 132, 132);
}

body {
    background-color: rgb(42, 42, 42);
}

.main-title {
    margin: 15px;
}

.main-flex {
    margin: 15px;
    display: flex;
}

.main-flex .stats {
    background-color: rgb(22, 22, 22);
    width: 15%;
    height: 500px;
    padding: 10px;
}

.stats-bar-container {
    background-color: rgb(30, 30, 30);
    width: 90%;
    height: 25px;
    overflow: hidden;
    cursor: pointer;
}

.bar {
    width: 0;
    height: 100%;
    background-color: rgb(163, 95, 0);
}

.options {
    width: 1000px;
    background-color: rgb(22, 22, 22);
    margin-left: 15px;
    max-height: 520px;
    overflow: scroll;
    
}

.options .nav {
    width: 95%;
    height: 40px;
    background-color: rgb(30, 30, 30);
    margin: 20px auto;
}

.nav-button {
    width: 100px;
    height: 100%;
    background-color: rgb(30, 30, 30);
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.nav-button:hover {
    background-color: rgb(46, 46, 46);
}

.section-header {
    width: 95%;
    display: flex;
    flex-direction: row;
    margin: 5px auto;
    height: 35px;
    align-items: center;
    background-color: rgb(30, 30, 30);
}

.section-header div {
    margin-left: 25px;
    display: flex;
}

.section-header p {
    width: 130px;
    text-align: center;
}

.offers {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.offer {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 5px auto;
    height: 35px;
    align-items: center;
    border-bottom: solid 2px rgb(34, 34, 34);
}

.offer p {
    width: 130px;
    text-align: center;
}

.accept-button {
    background-color: rgb(18, 18, 18);
    border: none;
    padding: 5px;
    cursor: pointer;
}

.offer-id {
    font-size: 10px;
}

.section-identifier {
    margin-left: 25px;
}

.contracts-parent {
    margin-bottom: 50px;
}